<!--Bootstrap  alert-->
<div class="content container-fluid">
    {% if messages %}
        {% for message in messages %}
        <div id="message" class="row">
            <div class="col-12">
                <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>


<!-- JavaScript to close alert after 5 seconds -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            const alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
                alert.classList.add('fade');
                setTimeout(() => alert.remove(), 150); // Ensure proper removal after animation
            });
        }, 6000); // 1000ms = 1 seconds
    });
</script>
