{% load static %}
    <!--header starts-->
    <div class="header">
        <div class="header-left">
        
           <a href="{% url 'login' %}" class="logo">
            <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
           </a>
        
           {% if user.user_type == 'HOD' %}
               <a href="{% url 'hod_home' %}" class="logo logo-small">
            {% elif user.user_type == 'STAFF' %}
                <a href="#" class="logo logo-small">
            {% else %}
            <a href="#" class="logo logo-small">
            {% endif %}
           <img src="{% static 'assets/img/logo-small.png' %}" alt="Logo" width="30" height="30">
           </a>
        
        </div>
        <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
        </a>
            <a href="javascript:void(0);" id="toggle_btn">
        <i class="fas fa-align-left"></i>
        </a>
        <ul class="nav user-menu">
        {% if user.user_type == 'HOD' %}

        {% else %}
           <li class="nav-item dropdown noti-dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="far fa-bell"></i>
                    {% if notifications %}
                        <span class="badge badge-pill">{{ notifications|length }}</span>
                    {% endif %}
                </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title">Notifications</span>
                    </div>
                    <div class="noti-content">
                        <ul class="notification-list">
                            {% for notification in notifications %}
                            <li class="notification-message">
                                <a href="#">
                                    <div class="media">
                                        <span class="avatar avatar-sm">
                                            <i class="fas fa-envelope"></i> <!-- Add appropriate icon -->
                                        </span>
                                        <div class="media-body">
                                            <p class="noti-details">
                                                <span class="noti-title">{{ notification.message }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% empty %}
                            <li class="notification-message">
                                <p>No new notifications</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        {% if user.user_type == 'STAFF' %}
                        <a href="{% url 'staff_notification' %}">View all Notifications</a>
                        {% else %}
                        <a href="{% url 'student_notification' %}">View all Notifications</a>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endif %}
           <li class="nav-item dropdown has-arrow">
           
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              {% if user.photo %}
              <span class="user-img"><img class="rounded-circle" src="{{ user.photo.url }}" width="31" height="31" alt="Profile"></span>
                  {% else %}
              <span class="user-img"><img class="rounded-circle" src="{% static 'assets/img/profiles/avatar-01.jpg' %}" width="35" alt="Profile"></span>
              {% endif %} 
              </a>
           
              <div class="dropdown-menu">
                 <div class="user-header">
                 
                    <div class="avatar avatar-sm">
                        {% if user.photo %}
                       <img src="{{ user.photo.url }}" alt="User Image" class="avatar-img rounded-circle">
                            {% else %}
                       <img src="{% static 'assets/img/profiles/avatar-01.jpg' %}" alt="User Image" class="avatar-img rounded-circle">
                        {% endif %}
                    </div>
                 
                    <div class="user-text">
                       <h7>{{ user.first_name|title }} {{ user.last_name|title }}</h7>
                        {% if user.user_type == 'HOD' %}
                           <p class="text-muted mb-0"><small>Head of Department</small></p>
                        {% else %}
                           <p class="text-muted mb-0">{{ user.user_type }}</p>
                        {% endif %} 
                    </div>
                 </div>
                 <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                 {% if user.user_type == 'HOD' %}
                 {% elif user.user_type == 'STAFF' %}
                 	<a class="dropdown-item" href="{% url 'staff_notification' %}">Inbox</a>
                 {% else %}
                     <a class="dropdown-item" href="{% url 'student_notification' %}">Inbox</a>
                 {% endif %}
                 <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
           </li>
        </ul>
     </div>
    <!--header ends-->

</script>