{% extends 'base.html' %}
{% block title %}
<title>Preskool - Attendance</title>
{% endblock %}
{% block content %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">STAFF</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item active">View Attendance</li>
               </ul>
            </div>
         </div>
      </div>
      {% include 'include/alert.html' %}
      <div class="row">
         {% if action is none %}
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form action="?action=view_attendance" method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                        <h5 class="form-title"><span>Attendance Information</span></h5>
                    </div>
                    <div class="col-sm-12">
                        <label>Subject</label>
                        <select class="form-control" name="subject" required>
                            <option value="" disabled selected>Select Course</option>
                            {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="col-sm-12">
                        <label>Session</label>
                        <select class="form-control" name="session" required>
                            <option value="" disabled selected>Select Session</option>
                            {% for session in sessions %}
                            <option value="{{ session.id }}">{{ session }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Attendance Date</label>
                            <input type="date" class="form-control" name="date" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">View Attendance</button>
                    </div>
                </form>

               </div>
            </div>
         </div>
         {% else %}
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <div class="col-12">
                     <h5 class="form-title"><span>Attendance Information</span></h5>
                  </div>
                  <div class="col-sm-12">
                    <label>Subject</label>
                    <input class="form-control" name="subject" value="{{ get_subject }}" readonly />
                </div>
                  <br>
                  <div class="col-sm-12">
                     <label>Session</label>
                     <input class="form-control" name="session" value="{{ get_session }}" readonly />
                  </div>
                  <br>
                    <div class="col-sm-12">
                        <label>Attendance Date</label>
                        <input class="form-control" value="{{ date }}" readonly />
                    </div>
                  <br>
                  <div class="col-sm-12">
                      <label>Students List:</label>
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="card card-table">
                              <div class="card-body">
                                 <div class="table-responsive">
                                    <table id="table_id" class="table table-hover table-center mb-0">
                                       <thead>
                                          <tr>
                                             <th>ID</th>
                                             <th>Name</th>
                                             <th>Session</th>
                                             <th>Course</th>
                                             <th>Email</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          {% for attendance in attendance_report %}
                                          <tr>
                                             <td>{{ attendance.student.user.id }}</td>
                                             <td>{{ attendance.student.user.first_name }} {{ attendance.student.user.last_name }}</td>
                                             <td>{{ attendance.student.session }}</td>
                                             <td>{{ attendance.student.course }}</td>
                                             <td>{{ attendance.student.user.email }}</td>
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}