{% extends 'base.html' %}
{% block title %}
	<title>Preskool - Add Subject</title> 
{% endblock %}
{% block content %}
	
    <div class="page-wrapper">
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">SUBJECT</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Subject</a></li>
                           <li class="breadcrumb-item active">Add Subject</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form action="{% url 'add_subject' %}" method="POST">
                               {% csrf_token %}
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Subject Information</span></h5>
                                 </div>
                                 <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>Subject</label>
                                       <input type="text" class="form-control" name="name">
                                    </div>
                                 </div>
                                  <div class="col-sm-12">
                                        <label>Course</label>
                                        <select class="form-control" name="course_id" required>
                                            <option>Select Course</option>
                                            {% for course in courses %}
                                                <option value="{{ course.id }}">{{ course|upper }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br>
                                  <div class="col-sm-12">
                                        <label>Staff</label>
                                        <select class="form-control" name="staff_id" required>
                                            <option>Select Staff</option>
                                            {% for staff in staffs %}
                                                <option value="{{ staff.id }}">{{ staff }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                 </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    
{% endblock %}