{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Preskool - Staff List</title> 
{% endblock %}
{% block content %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Staffs</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'login' %}">Dashboard</a></li>
                  <li class="breadcrumb-item active">Staff List</li>
               </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
               <a href="{% url 'add_staff' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
         </div>
      </div>
   
   {% include 'include/alert.html' %}
   
      <div class="row">
         <div class="col-sm-12">
            <div class="card card-table">
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                           <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Mobile</th>
                              <th>Address</th>
                              <th class="text-right">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for staff in staffs %}
                           <tr>
                              <td>{{ staff.id }}</td>
                              <td>
                                 <h2 class="table-avatar">
                                    <a href="{% url 'staff_details' staff.id %}" class="avatar avatar-sm mr-2">
                                    {% if staff.user.photo %}
                                    <img class="avatar-img rounded-circle" src="{{ staff.user.photo.url }}" alt="User Image" style="width: 35px; height: 35px; object-fit: cover;">
                                    {% else %}
                                    <img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-01.jpg' %}" alt="User Image" style="width: 35px; height: 35px; object-fit: cover;">
                                    {% endif %}
                                    </a>
                                    <a href="{% url 'staff_details' staff.id %}">{{ staff.user.first_name }} {{ staff.user.last_name }}</a>
                                 </h2>
                              </td>
                              <td>{{ staff.user.mobile }}</td>
                              <td>{{ staff.user.address }}</td>
                              <td class="text-right">
                                 <div class="actions">
                                    <a href="{% url 'update_staff' staff.id %}" class="btn btn-sm bg-success-light mr-2">
                                    <i class="fas fa-pen"></i>
                                    </a>
                                    <a href="{% url 'delete_staff' staff.id %}" 
                                       class="btn btn-sm bg-danger-light" 
                                       onclick="openModal(event, '{{ staff.user.first_name }} {{ staff.user.last_name }}')">
                                    <i class="fas fa-trash"></i>
                                    </a>
                                     
                                    <!-- Bootstrap Modal -->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                       <div class="modal-dialog" style="min-height: 70vh;">
                                          <div class="modal-content">
                                             <div class="modal-header justify-content-center">
                                                <h5 class="modal-title" id="deleteModalLabel" style="text-align: center; width: 100%;">Confirm Deletion</h5>
                                             </div>
                                             <div class="modal-body d-flex justify-content-center align-items-center" style="flex-direction: column; text-align: center;">
                                                <p>Are you sure you want to delete <strong id="staffName"></strong>?</p>
                                             </div>
                                             <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
                                                 <button type="button" class="btn btn-secondary" id="cancelBtn">Cancel</button>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
    
<script>
   function openModal(event, name) {
     // Prevent default action of the link
     event.preventDefault();
   
     // Set student name in the modal
     document.getElementById('staffName').textContent = name;
   
     // Show the modal
     var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
     deleteModal.show();
   
     // Set the delete button action
     document.getElementById('confirmDeleteBtn').onclick = function() {
         // Redirect to the delete URL
         window.location.href = event.target.closest('a').href;
     };
   
     // Manually close the modal when Cancel is clicked
     document.getElementById('cancelBtn').onclick = function() {
         deleteModal.hide();
     };
   }
</script>
    
{% endblock %}
