{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>Preskool - Staff Details</title> 
{% endblock %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Staff Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'staff_list' %}">Staff</a></li>
                        <li class="breadcrumb-item active">Staff Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info text-center">
                            <!-- Image Display -->
                            <div class="mb-3">
                                {% if staff.user.photo %}
                                <img src="{{ staff.user.photo.url }}" class="rounded-circle" alt="User Image" 
                                     style="width: 200px; height: 200px; object-fit: cover;">
                                {% else %}
                                <img src="{% static 'assets/img/profiles/avatar-01.jpg' %}" class="rounded-circle" alt="User Image"
                                style="width: 200px; height: 200px; object-fit: cover;">
                                {% endif %}
                            </div>
                            <br>
                            <!-- Information Display -->
                            <div class="media-body d-flex flex-column align-items-center">
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        <span class="title-span font-weight-bold">Full Name : </span>
                                        <span class="info-span">{{ staff.user.first_name }} {{ staff.user.last_name }}</span>
                                    </li>
                                    
                                    <li class="mb-2">
                                        <span class="title-span font-weight-bold">Mobile : </span>
                                        <span class="info-span">{{ staff.user.mobile }}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="title-span font-weight-bold">Email : </span>
                                        <span class="info-span">
                                            <a href="mailto:{{ staff.user.email }}">{{ staff.user.email }}</a>
                                        </span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="title-span font-weight-bold">Gender : </span>
                                        <span class="info-span">{{ staff.gender }}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="title-span font-weight-bold">DOB : </span>
                                        <span class="info-span">{{ staff.user.date_of_birth }}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="title-span font-weight-bold">Address : </span>
                                        <span class="info-span">{{ staff.user.address }}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="title-span font-weight-bold">Created at : </span>
                                        <span class="info-span">{{ staff.created_at }}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="title-span font-weight-bold">Updated at : </span>
                                        <span class="info-span">{{ staff.updated_at }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
